@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
  --brown: #202114;
  --light-green: #607333;
  --dark-green: #19411F;
  --darkest-green: #023924;
}

p {
  color: white;
}

p.box {
  color: var(--dark-green)
}

p#error_message {
  color: red;
}

p.welcome {
  font-size: 20px;
  font-weight: bold;
  margin-top: -0;
  line-height: 0px;
}

header {
  margin: 0;
}

.logo_container {
  background-image: linear-gradient(315deg, var(--light-green), var(--dark-green), var(--darkest-green));
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;

  align-content: center;
}

.logo {
  height: 180px;
}

.page_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#left_column {
  width: 23%;
  height: 550px;
  background-color: var(--brown);
  padding: 5px 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#subjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select#subject_selector_input {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: normal;
  font-weight: bold;
  text-align-last: center;
}

#select_subject, input#submit {
  background-image: linear-gradient(315deg, gold, darksalmon 45%);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: normal;
}

.new_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

#right_column {
  width: 70%;
}


.user_container {
  width: 80%;
  text-align: center;
  padding: 60px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  margin: 0;
  background: papayawhip;
}

input.text_field, input, textarea, select {
  background-color: papayawhip;
  width: 200px;
  color: var(--brown);
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Shadows Into Light', sans-serif;
  margin-bottom: 5px;
  font-size: 15px;
  letter-spacing: 2px;
}

div.radio {
  text-align: left;
  margin: 0 140px;
}

input[type="radio"] {
  width: 20px;
}

input#username_input {
  text-align: center;
}

select {
  width: 220px
}

::placeholder {
  color: var(--brown);
}

#study_mode {
}

#all_or_mine {
}

#new_flashcard {
}

.mode_button {

}

button {
}

.button {
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
  margin: 0px 20px;
  margin-top: -20px;
  white-space: normal;
  word-wrap: break-word;
  background-image: linear-gradient(315deg, gold, darksalmon 45%);
  vertical-align: top;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: normal;

}

.button:active{
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.selected{}

footer {
  background-color: darksalmon;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  font-weight: bold;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#flashcard {
  width: 500px;
  height: 250px;
  color: #023924;
  background-color: cornsilk;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#buttons {
  padding-top: 60px;
}

h3 {
  font-weight: normal;
  font-family: 'Shadows Into Light', sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Shadows Into Light', sans-serif;
  letter-spacing: 2px;
}

.user_logged_in_name {
  margin-top: 17px;
}
