@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
p {
  color: white;
}

header {
  margin: 0;
}

.logo_container {
  background-image: linear-gradient(315deg, #607333, #19411F, #023924);
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;

  align-content: center;
}

.logo {
  height: 180px;
}

.page_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left_column {
  width: 23%;
  height: 550px;
  background-color: #202114;
  padding: 5px 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#subjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#select_subject {
  background-image: linear-gradient(315deg, #607333, #19411F, #023924);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: normal;
}

.new_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right_column {
  width: 70%;
}


.user_container {
  width: 50%;
  text-align: center;
  padding: 60px 0px;
}

body {
  margin: 0;
  background: papayawhip;
}

input.text_field, input, textarea, select {
  background-color: papayawhip;
  width: 200px;
  color: #202114;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Shadows Into Light', sans-serif;
  margin-bottom: 5px;
  font-size: 15px;
  letter-spacing: 2px;
}

select {
  width: 220px
}

::placeholder {
  color: #023924;
}

#study_mode {
}

#all_or_mine {
}

#new_flashcard {
}

.mode_button {

}

button {
}

.button, input#submit {
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 20px;
  margin-top: -20px;
  white-space: normal;
  word-wrap: break-word;
  background-image: linear-gradient(315deg, gold, darksalmon 45%);
  vertical-align: top;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: normal;

}

.button:active{
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.selected{}

footer {
  background-color: darksalmon;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  font-weight: bold;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#flashcard {
  width: 400px;
  height: 200px;
  color: #023924;
  background-color: cornsilk;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#buttons {
  padding-top: 60px;
}

h3 {
  font-weight: normal;
  font-family: 'Shadows Into Light', sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Shadows Into Light', sans-serif;
  letter-spacing: 2px;
}
